body {
    margin: 0;
}

/*styling the nav*/
nav {
    color: #fff;
    background-color: #291528;
}

/*styling links*/
.nav-items {
    margin: 0;
    display: flex;
    padding: 25px;
    justify-content: space-around;
}

/* styling list item*/
li {
    list-style: none;
}

.nav-links {
    color: #ffffff;
    text-decoration: none;
}

.nav-links:hover {
    color: #9E829C;
}



